@use "./../01-abstracts/" as *;

.header-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    max-width: 48px;
    @include breakpoint($md) {
      max-width: 64px;
    }
  }
}

.header {
  margin-bottom: 32px;
}
