@use "./functions" as *;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

// Colors
$color-violet: #755cde;
$color-orange: #f6a560;
$color-pink: #f39e9e;
$color-red: #eb7565;
$color-blue: #61c4b7;
$color-purple: #552049;
$color-black: #030303;
$color-gray: #7a746e;
$color-cream: #fff7f0;

// Fonts
$font-family: "Plus Jakarta Sans", sans-serif;
$font-size: rem(18px);
$font-weight: 500;

// Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;
