@use "./../01-abstracts/" as *;

html,
body {
  background-color: $color-cream;
  overflow-x: hidden;
}

.wrapper {
  padding: 16px 16px 32px;
}

@include breakpoint($md) {
  .wrapper {
    padding: 34px 40px 56px 39px;
  }
}
