@use "./../01-abstracts/" as *;

html,
body {
  background-color: $color-cream;
  overflow-x: hidden;
}

body {
  padding: 16px 16px 32px;

  @include breakpoint($md) {
    padding: 34px 40px 56px 39px;
  }

  @include breakpoint($lg) {
    padding-bottom: 64px;
  }
}

.wrapper {
  max-width: 1110px;
  margin: auto;
}
