@use "./../01-abstracts/" as *;

html,
body {
  background-color: $color-cream;
  overflow-x: hidden;
}

body {
  margin: 16px 0 32px;

  @include breakpoint($md) {
    margin: 34px 0 56px;
  }

  @include breakpoint($lg) {
    margin-bottom: 64px;
  }
}

header,
footer,
section {
  margin: 0 16px;

  @include breakpoint($md) {
    margin: 0 40px 0 39px;
  }

  @include breakpoint(calc($lg + 180px)) {
    max-width: 1110px;
    margin: auto;
  }
}
