@use "./../01-abstracts/" as *;

body {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color-gray;
  font-size: rem(16px);
  line-height: 26px;

  @include breakpoint($md) {
    font-size: $font-size;
    line-height: 28px;
  }
}

h1 {
  color: $color-black;
  font-size: rem(36px);
  line-height: 45px;
  font-weight: bold;

  @include breakpoint($md) {
    font-size: rem(56px);
    line-height: 70px;
  }
}

h2 {
  color: $color-black;
  font-weight: bold;
  font-size: rem(26px);
  line-height: 33px;
  @include breakpoint($md) {
    font-size: rem(40px);
    line-height: 51px;
  }
}

h3 {
  color: $color-black;
  font-size: rem(32px);
  line-height: 40px;
  font-weight: bold;
}
