@use "./../01-abstracts/" as *;

.slider {
  &__main {
    margin-bottom: 32px;
    min-height: 180px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__img {
    border-radius: 10px;
    max-width: 270px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  @include breakpoint($md) {
    &__main {
      margin-bottom: 56px;
      //   min-height: 180px;
      //   text-align: center;
      //   display: flex;
      //   justify-content: center;
      gap: 30px;
    }

    &__img {
      max-width: 360px;
    }
  }
}
