@use "./../01-abstracts/" as *;

.cta {
  background-color: $color-black;
  color: $color-cream;
  border-radius: 10px;
  padding: 49px 24px 48px;
  margin-bottom: 40px;
  text-align: center;

  &__title {
    color: $color-cream;
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  @include breakpoint($md) {
    padding: 56px 75px 64px;
    margin-bottom: 56px;

    &__title {
      margin-bottom: 26px;
    }

    &__text {
      margin-bottom: 26px;
    }
  }
}
