@use "./../01-abstracts/" as *;

.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  &__img {
    margin: 0 auto 40px;
    max-width: 300px;
  }

  &__main {
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }
}
