@use "./../01-abstracts/" as *;

.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  &__img {
    margin: 0 auto 40px;
    max-width: 300px;
  }

  &__main {
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  @include breakpoint(calc($md + 100px)) {
    flex-direction: row;
    margin-bottom: 120px;
    gap: 69px;
    justify-content: flex-end;

    &__img {
      max-width: 364px;
      align-self: center;
    }

    &__main {
      min-width: 339px;
      text-align: left;
    }
  }
}
