@use "./../01-abstracts/" as *;

.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  &__img {
    margin: 0 auto 40px;
    max-width: 300px;
  }

  &__main {
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  @include breakpoint(calc($md + 100px)) {
    flex-direction: row;
    margin-bottom: 120px;
    gap: 69px;
    justify-content: flex-end;
    align-items: center;

    &__img {
      max-width: 364px;
      margin: 0;
    }

    &__main {
      min-width: 339px;
      text-align: left;
    }
  }

  @include breakpoint($lg) {
    margin-bottom: 88px;
    gap: 125px;

    &__img {
      max-width: 445px;
    }

    &__title {
      margin-bottom: 34px;
    }

    &__text {
      margin-bottom: 32px;
    }
  }
}
