@use "./../01-abstracts/" as *;

.skills {
  text-align: center;

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 285px;
    margin: 0 auto 32px;
  }

  @include breakpoint(calc($md - 200px)) {
    &__title {
      margin-bottom: 27px;
    }

    &__text {
      max-width: 573px;
      margin-bottom: 64px;
    }
  }

  @include breakpoint($lg) {
    &__title {
      margin-bottom: 23px;
    }

    &__text {
      max-width: 730px;
      margin-bottom: 80px;
    }
  }
}
