@use "./../01-abstracts/" as *;

.work {
  text-align: center;
  margin: 0 0 100px;
  max-width: none;

  &__title {
    margin-bottom: 32px;
  }

  @include breakpoint($md) {
    margin-bottom: 120px;

    &__title {
      margin-bottom: 56px;
    }
  }

  @include breakpoint($md) {
    margin-bottom: 88px;
  }
}
